extends layout

block content
    div(class='container')

        - var editText = (isEdit)? "Edit" : "Add";

        h2 #(editText) Education

        div
            form(name='education', class='form-horizontal', method='post')
                div(class='form-group')
                    label(for='school', class='control-label col-sm-2') School
                    div(class='col-sm-4')
                        input(name="school", type="text", class='form-control', value="#{school}") //TODO: Just make these null and pass over

                div(class='form-group')
                    label(for='year', class='control-label col-sm-2') Year
                    div(class='col-sm-4')
                        input(name="year", type="text", class='form-control', value="#{year}")

                div(class='form-group')
                    label(for='degreeType', class='control-label col-sm-2') Degree Type
                    div(class='col-sm-4')
                        input(name="degreeTypw", type="text", class='form-control', value="#(degreeType)")

                div(class='form-group')
                    label(for='major1', class='control-label col-sm-2') Major
                    div(class='col-sm-4')
                        input(name="degreeTypw", type="text", class='form-control', value="#(major1)")

                div(class='form-group')
                    label(for='major2', class='control-label col-sm-2') Second Major
                    div(class='col-sm-4')
                        input(name="degreeTypw", type="text", class='form-control', value="#(major2)")

                div(class='form-group')
                    label(for='minor', class='control-label col-sm-2') Minor
                    div(class='col-sm-4')
                        input(name="degreeTypw", type="text", class='form-control', value="#(minor)")


                div(class='form-actions col-sm-offset-3')
                    input(class='btn btn-primary' type="submit", value="#(editText)" )
