doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title= title
        //link(rel='stylesheet', href='/stylesheets/style.css')
        //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"

        block head

        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')

    body
        //Logo Here?

        nav(class='navbar navbar-default')

            div(class='container-fluid')
                div(class='navbar-header')
                    //TODO: Collapsed button
                    a(class='navbar-brand' href="#") Logo

                div(class='collapse navbar-collapse')

                    ul(class="nav navbar-nav")
                        //TODO: also set active in MW
                        //TODO: Add middleware to set the logged in buttons
                        li
                            a(href='#') About

                        li
                            //TODO: Make search box
                            a(href='#') Search

                    ul(class='nav navbar-nav navbar-right')
                        if (user === null)
                            li
                                a(href='/login') Login
                            li
                                a(href='/register') Register
                        else
                            li
                                a(href='/user/profile')=user
                            li
                                a(href='/logout') (Logout)

        block content
