extends layout

block content
    div(class='container')
        h1 Login

        div(class='col-md-4')

            //Error box
            div
                if true === notVerified
                    p The email address has not been verified. #[a(href='#') Click here] to resend the email.
                else if error !== undefined
                    p=error

            form(name='login', role='form-horizontal', method='post')
                div(class='form-group')
                    label(for='username', class='col-sm-3 control-label') Username
                    input(type="username", name = "username")

                div(class='form-group')
                    label(for='password', class='col-sm-3 control-label') Password
                    input(type="password", name = "pwd")

                input(type="submit", value="Login" )
                a(type="submit", value="Forgot Password" )