extends layout

block content
    div(class='container')

        h2=title

        div
            if(errors !== undefined)
                ul
                    each e in errors
                        li=e

            form(name='register', class='form-horizontal', method='post')
                div(class='form-group')
                    label(for='username', class='control-label col-sm-2') Username
                    div(class='col-sm-4')
                        input(type="text", class='form-control', name="username", value=username)

                div(class='form-group')
                    label(for='password', class='control-label col-sm-2') Password
                    div(class='col-sm-4')
                        input(class='form-control', type="password", name = "pwd")
                div(class='form-group')
                    label(for='cpwd', class='control-label col-sm-2') Confirm
                    div(class='col-sm-4')
                        input(class='form-control', type="password", name = "cpwd")
                div(class='form-group')
                    label(for='cpwd', class='control-label col-sm-2') Email
                    div(class='col-sm-4')
                        input(class='form-control', type="text", name="email", value=email)

                div(class='form-actions col-sm-offset-3')
                    input(class='btn btn-primary' type="submit", value="Register" )
